.subhero-slider {
    background: url(/assets/images/banner_01.jpg) no-repeat fixed center / cover;
    padding: 5rem 0rem 10rem;
    text-align: center;
    position: relative;
    &::before {
        content: "";
        width: 100%;
        height: 100%;
        background: hsl(0deg 0% 0% / 30%);
        position: absolute;
        left: 0;
        top: 0;
        z-index: 0;
    }
    > .container {
        position: relative;
        z-index: 1;
    }
    h2 {
        color: #fff;
        font-weight: 600;
        letter-spacing: 1px;
    }
    .breadcrumb {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        padding: 0 0;
        margin: 1rem 0 0;
        list-style: none;
        li {
            a {
                text-decoration: none;
                color: #fff;
            }
            &.active {
                color: #F7B317;
                &::before {
                    color: #fff;
                }
            }
        }
    }
}
.add-cars{
    form {
        .row {
            .row {
                background: #fff;
                border-radius: 1rem;
                margin-top: -6rem;
                padding: 1rem;
                position: relative;
                height: calc(100% + 6rem);
                box-shadow: 0.1rem 0.1rem 0.5rem hsl(0deg 0% 0% / 15%);
                .form-label {
                    margin-bottom: 0.3rem;
                    line-height: normal;
                }
                .form-control, .form-select {
                    &:hover,&:focus {
                        box-shadow: none;
                        border-color: #F7B317;
                    }
                }
            }
        }
        .btn-primary {
            background: #F7B317;
            border-color: #F7B317;
            margin: 2rem auto;
            width: auto;
            min-width: 200px;
            transition: all 0.3s ease;
            &:hover, &:focus {
                cursor: pointer;
                box-shadow: none;
                background: #000;
                color: #F7B317;
                transition: all 0.3s ease;
            }
        }
    }
}