<section class="subhero-slider">
  <div class="container">
    <h2>Add cars</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Add cars</li>
      </ol>
    </nav>
  </div>
</section>
<section class="add-cars">
  <div class="container">
    <form>
      <div class="row">
        <div class="col-12">
          <div class="add_brand">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add_brand">Add
              Brand</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add_modal">Add
              Modal</button>
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#add_variant">Add
              Variant</button>
          </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-9 px-4">
          <div class="row gy-2 pb-4">
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Select brand</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.brand" name="brand">
                <option selected value="">Select brand</option>
                <option *ngFor="let item of brandDataList" [value]="item.id">{{item.brand}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Select Modal</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.modal" name="modal">
                <option selected value="">Select Modal</option>
                <option *ngFor="let item of brandModalDataList" [value]="item.id">{{item.brand_modal}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Select Variant</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.variant"
                name="variant">
                <option selected value="">Select Variant</option>
                <option *ngFor="let item of brandVariantDataList" [value]="item.id">{{item.brand_variant}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Make Year</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.make_year"
                name="make_year">
                <option selected value="">Select Year</option>
                <option *ngFor="let yl of listOfYears" [value]="yl">{{yl}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Reg. Year</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.reg_year"
                name="reg_year">
                <option selected value="">Select Year</option>
                <option *ngFor="let yl of listOfYears" [value]="yl">{{yl}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Fuel Type</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.fuel_type"
                name="fuel_type">
                <option selected value="">Select Fuel Type</option>
                <option *ngFor="let fl of fuelTypeList" [value]="fl.value">{{fl.text}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Ownership</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.ownership"
                name="ownership">
                <option selected value="">Select Ownership</option>
                <option *ngFor="let ol of ownershipList" [value]="ol.value">{{ol.text}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label class="form-label">KMS</label>
              <input type="text" class="form-control" placeholder="10,000 km" [(ngModel)]="carModel.kms" name="kms">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">RTO</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.rto" name="rto">
                <option selected value="">Select RTO</option>
                <option *ngFor="let rl of RTOList" [value]="rl.value">{{rl.text}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputPassword4" class="form-label">Transmission</label>
              <select class="form-select" aria-label="Default select example" [(ngModel)]="carModel.transmission"
                name="transmission">
                <option selected value="">Select Transmission</option>
                <option *ngFor="let tl of transmissionList" [value]="tl.value">{{tl.text}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputState" class="form-label">Insurance</label>
              <select id="inputState" class="form-select" [(ngModel)]="carModel.insurance" name="insurance">
                <option selected value="">Select Insurance</option>
                <option *ngFor="let il of insuranceList" [value]="il.value">{{il.text}}</option>
              </select>
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputZip" class="form-label">Insurance Date</label>
              <input type="date" class="form-control" id="date" [(ngModel)]="carModel.insurance_date"
                name="insurance_date">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputZip" class="form-label">Color</label>
              <input type="text" class="form-control" placeholder="Color" [(ngModel)]="carModel.color" name="color">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputZip" class="form-label">Price</label>
              <input type="text" class="form-control" placeholder="Price" [(ngModel)]="carModel.price" name="price">
            </div>
            <div class="col-12 col-md-6 col-lg-4">
              <label for="inputZip" class="form-label">Body Type</label>
              <input type="text" class="form-control" placeholder="Body Type" [(ngModel)]="carModel.body_type"
                name="body_type">
            </div>
          </div>
        </div>
        <div class="col-12 col-lg-12 col-xl-3 px-4 upload_images">
          <div class="row">
            <div class="col-12">
              <div ngx-dropzone class="custom-dropzone" [accept]="'image/*'" (change)="onSelectImage($event)"
                [multiple]="true">
                <ngx-dropzone-label>
                  <div>
                    <h2>Upload OR Drag and drop <br> car images.</h2>
                  </div>
                </ngx-dropzone-label>
              </div>
            </div>
          </div>
        </div>
        <ul class="images-preview">
          <li *ngFor="let f of careImagefiles">
            <ngx-dropzone-image-preview ngProjectAs="ngx-dropzone-preview" [file]="f" [removable]="true"
              (removed)="onRemoveImage(f)">
              <!-- <ngx-dropzone-label>{{ f.name }}</ngx-dropzone-label> -->
            </ngx-dropzone-image-preview>
          </li>
        </ul>
        <button type="submit" class="btn btn-primary" (click)="addCarDetails()">Add Car</button>
      </div>
    </form>
  </div>
</section>

<div class="modal fade" id="add_brand" tabindex="-1" aria-labelledby="add_brandLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add brand</h5>
        <button type="button" class="btn-close" #btnCloseBrandModal data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-12 mb-5">
              <div class="profile-img">
                <span>
                  <img [src]="brandModel.image" accept="image/png, image/gif, image/jpeg" class=" img-fluid">
                  <div>
                    <button type="button" class="btn btn-danger delect_profile">
                      <svg id="delete-alt" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon line"
                        width="48" height="48">
                        <path id="primary"
                          d="M4,7H20M16,7V4a1,1,0,0,0-1-1H9A1,1,0,0,0,8,4V7M18,20V7H6V20a1,1,0,0,0,1,1H17A1,1,0,0,0,18,20Zm-8-9v6m4-6v6"
                          stroke="currentColor"
                          style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                      </svg>
                    </button>
                  </div>
                </span>
                <a href="javascript:void(0)" (change)="uploadBrandPhoto($event)" class="profile_img_btn">
                  <svg id="photo-camera" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon line"
                    width="48" height="48">
                    <path id="primary"
                      d="M21,7V19a1,1,0,0,1-1,1H4a1,1,0,0,1-1-1V7A1,1,0,0,1,4,6H8l.72-1.45A1,1,0,0,1,9.62,4h4.76a1,1,0,0,1,.9.55L16,6h4A1,1,0,0,1,21,7Zm-9,3a3,3,0,1,0,3,3A3,3,0,0,0,12,10Z"
                      stroke="currentColor"
                      style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path>
                  </svg>
                </a>
                <label>Brand logo</label>
              </div>
              <div class="custom-file">
                <input type="file" class="custom-file-input" id="brand_logo" [(ngModel)]="brandModel.image"
                  accept="image/png, image/gif, image/jpeg" name="image" (change)="uploadBrandPhoto($event)">
                <label class="custom-file-label" for="brand_logo">Choose Image</label>
              </div>
              <div class="invalid-tooltip">Enter brand name</div>
            </div>
            <div class="col-12 mb-3">
              <label>Brand name</label>
              <input type="text" class="form-control" name="brand" [(ngModel)]="brandModel.brand"
                placeholder="Brand name" required>
              <div class="invalid-tooltip">Enter brand name</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer text-center">
        <button type="button" class="btn btn-primary mx-auto" (click)="doClickAddBrand()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_modal" tabindex="-1" aria-labelledby="add_modalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add Modal</h5>
        <button type="button" class="btn-close" #btnCloseModal data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="inputPassword4" class="form-label">Select brand</label>
              <select class="form-select" aria-label="Default select example" name="brand_id"
                [(ngModel)]="brandModalModel.brand_id">
                <option selected value="">Select brand</option>
                <option *ngFor="let item of brandDataList" [ngValue]="item.id">{{item.brand}}</option>
              </select>
            </div>
            <div class="col-12 mb-3">
              <label>Modal name</label>
              <input type="text" class="form-control" placeholder="Modal name" name="brand_modal"
                [(ngModel)]="brandModalModel.brand_modal" required>
              <div class="invalid-tooltip">Enter modal name</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mx-auto" (click)="doClickAddBrandModel()">Submit</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="add_variant" tabindex="-1" aria-labelledby="add_variantLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Add brand</h5>
        <button type="button" class="btn-close" #btnCloseVraientModal data-bs-dismiss="modal"
          aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form class="needs-validation" novalidate>
          <div class="form-row">
            <div class="col-12 mb-3">
              <label for="inputPassword4" class="form-label">Select brand</label>
              <select class="form-select" aria-label="Default select example" name="brand_id"
                [(ngModel)]="brandVariantModel.brand_id">
                <option selected value="">Select brand</option>
                <option *ngFor="let item of brandDataList" [value]="item.id">{{item.brand}}</option>
              </select>
            </div>
            <div class="col-12 mb-3">
              <label for="inputPassword4" class="form-label">Select Modal</label>
              <select class="form-select" aria-label="Default select example" name="model_id"
                [(ngModel)]="brandVariantModel.model_id">
                <option selected value="">Select Modal</option>
                <option *ngFor="let item of brandModalDataList" [value]="item.id">{{item.brand_modal}}</option>
              </select>
            </div>
            <div class="col-12 mb-3">
              <label>Variant name</label>
              <input type="text" class="form-control" placeholder="Variant name" name="brand_variant"
                [(ngModel)]="brandVariantModel.brand_variant" required>
              <div class="invalid-tooltip">Enter Variant name</div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary mx-auto" (click)="doClickAddBrandVariant()">Submit</button>
      </div>
    </div>
  </div>
</div>
