.sub-head {
    padding: 2rem 0;
    .details_head {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
    }
    .inner_head {
        margin: 0;
        font-weight: 600;
        font-size: 1.5rem;
        text-transform: capitalize;
    }
    .filters_by {
        display: flex;
        align-items: center;
        .btn-link {
            margin-left: 0.5rem;
            border: 1px solid #CBCBCB;
            border-radius: 10px;
            padding: 0.3rem 0.5rem;
            height: 2.3rem;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #000;
            transition: all 0.3s ease;
            &:hover, &:focus {
                color: #F7B317;
                background: #000;
                transition: all 0.3s ease;
                box-shadow: none;
                outline: none;
            }
            svg {
                width: 85%;
                height: 85%;
            }
        }
    }
    .add_btn {
        padding: 0.25rem 0.75rem;
        margin-left: 1rem;
        border-radius: 100px;
        background: #F7B317;
        color: #fff;
        border-color: #F7B317;
        line-height: normal;
        display: flex;
        align-items: center;
        svg {
            height: 1.5rem;
            width: 1.5rem;
        }
        &:hover, &:focus {
            background: #000;
            border-color: #000;
            color: #fff;
        }
    }
}
.car-item {
    width: 100%;
    background: #f9f9f9;
    border-radius: 15px;
    overflow: hidden;
    margin: 0 0 1rem 0;
    border: 1px solid #f0f0f0;
    transition: all 0.3s ease;
    transform: scale(1);
    &:hover, &:focus {
        box-shadow: 0.1rem 0.1rem 0.7rem hsl(0deg 0% 0% / 20%);
        transition: all 0.3s ease;
        .card-body {
            background: #e4e4e4;
            border-color:  #e4e4e4;
            transition: all 0.3s ease;
        }
    }
    .card-image {
        width: 100%;
    }
    .card-body {
        width: 100%;
        display: inline-block;
        padding: 0 1rem;
        text-decoration: none;
        transition: all 0.3s ease;
        .price {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-bottom: 1px solid #E3E3E3;
            padding: 0.6rem 0;
            h3 {
                color: #F7B317;
                font-size: 1.3rem;
                font-weight: 500;
                margin: 0;
                line-height: normal;
            }
            .card-icon {
                display: flex;
                align-items: center;
                a {
                    border-radius: 100px;
                    width: auto;
                    display: flex;
                    align-items: center;
                    margin: 0 0.3rem;
                    padding: 0.35rem 0.7rem;
                    font-size: 0.8rem;
                    line-height: normal;
                    color: #fff;
                    fill: #fff;
                    transition: all 0.3s ease;
                    &:hover, &:focus {
                        background: #F7B317;
                        border-color: #F7B317;
                        color: #000;
                        fill: #000;
                        transition: all 0.3s ease;
                    }
                    &.btn-danger {
                        padding: 0.35rem 0.5rem;
                        svg {
                            margin-right: 0;
                        }
                    }
                    svg {
                        width: 1rem;
                        height: 1rem;
                        margin-right: 0.2rem;
                    }
                }
            }
        }
        > h3 {
            color: #000;
            font-size: 1.2rem;
            font-weight: 600;
            margin: 0.7rem 0;
        }
        .card-info {
            list-style: none;
            padding: 0;
            margin: 0 -0.5rem 0.7rem;
            width: calc(100% + 1rem);
            display: flex;
            align-items: baseline;
            li {
                width: 25%;
                padding: 0 0.5rem;
                border-right: 1px solid #E3E3E3;
                &:last-child {
                    border-right: 0;
                }
                p {
                    margin: 0;
                    color: #7B7B7B;
                    font-size: 1rem;
                }
                h4 {
                    font-size: 1rem;
                    font-weight: 600;
                    color: #000;
                    margin: 0;
                }
            }
        }
    }
}