<section class="subhero-slider">
  <div class="container">
      <h2>About Us</h2>
      <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="javascript:void(0);" routerLink="/">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">About us</li>
          </ol>
      </nav>
  </div>
</section>
<section class="about-main">
  <div class="row">
    <div class="large-12 nasa-col columns">
      <div class="nasa-title clearfix hr-type-none text-center nasa-custom-color">
        <div class="nasa-wrap">
          <h3 class="nasa-heading-title"><span class="nasa-title-wrap"><span style="color: #000000;">Who we
                are</span><span class="nasa-title-hr" style="border-color: #000000;"></span></span></h3>
        </div>
      </div>
      <div class="wpb_text_column wpb_content_element">
        <div class="wpb_wrapper">
          <p>We started Amazing Amdavad in 2014 on social media with posting photos of Amdavad. People of Amdavad started
            loving us and made us to do more than we could expect. We pursued our Gujju culture on Social media and the
            result was surprising.</p>
          <p>amazingamdavad.in website started by two Gujju brothers with the help of a few fashionable, creative and
            techie Gujju friends. It’s managed by people who born and brought up in Ahmedabad. We are Pakka (Pure)
            Amdavadis who love Garba, Kite Flying, Playing cricket on Streets, Speaking Gujarati all the time and many
            more. We cherish Spinning top (Bhamardo), Marble (Lakhoti) and Kick the Can (Ice Pice).</p>
          <p>We’re Gujjus who believe in maximising fun along with fashion and Gujarati culture. At last, we’re proud
            Amdavadis.</p>
          <p>We’re doing exactly what people want but not getting elsewhere. You’ll relate our collection easily with your
            spoken words &amp; habits as we still spend most of the time chit chatting with friends.</p>
  
        </div>
      </div>
      <div class="nasa-title clearfix hr-type-none text-center nasa-custom-color">
        <div class="nasa-wrap">
          <h3 class="nasa-heading-title"><span class="nasa-title-wrap"><span style="color: #000000;">Why Amazingamdavad.in
                born</span><span class="nasa-title-hr" style="border-color: #000000;"></span></span></h3>
        </div>
      </div>
      <div class="wpb_text_column wpb_content_element">
        <div class="wpb_wrapper">
          <p>This idea took place when we were watching content on t-shirts from North to South (Kashmir to Kanyakumari)
            but proper Gujju collection of cool graphic t-shirt was nowhere. At the same moment, we decided to fill this
            gap and here we are with unpredictable and cool gujarati caption tshirts. We amdavadis are different unlike
            others and that’s the catch which brings pure Gujju collection of tees for you. We Gujjus are energetic,
            enthusiasts, excited, fun loving and cheerful but it has never reflected on t-shirts until we brought such
            unpredictable gujju caption t-shirts collection. We Gujjus celebrate festivals and events with zeal. Moreover,
            we are food lovers. We enjoy shopping and pulling leg. All this excitement and cheerfulness will reflect in
            our cool t-shirts collection for men &amp; women.</p>
          <p>If you’re looking for cool Gujju t-shirts collection which reflects your locality and make you talk of the
            town, you’re at the right place.</p>
          <p>Let’s embrace the gujju culture with the amazing funky t-shirts to flaunt the Gujju in you. You can visit our
            website and buy online these cool caption tees for you or for your loved ones.</p>
          <p>All you need to do is just select your favourite designer tshirt and buy it. And, you’re done with the
            awesome buying experience as we’ve 7 days return policy and Cash On Delivery for most of the products.</p>
  
        </div>
      </div>
    </div>
  </div>
</section>