@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-LightItalic.eot');
    src: local('Gotham Light Italic'), local('Gotham-LightItalic'),
       url('../fonts/Gotham-LightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-LightItalic.woff2') format('woff2'),
       url('../fonts/Gotham-LightItalic.woff') format('woff'),
       url('../fonts/Gotham-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-BoldItalic.eot');
    src: local('Gotham Bold Italic'), local('Gotham-BoldItalic'),
       url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
       url('../fonts/Gotham-BoldItalic.woff') format('woff'),
       url('../fonts/Gotham-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-XLight.eot');
    src: local('Gotham ExtraLight'), local('Gotham-XLight'),
       url('../fonts/Gotham-XLight.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-XLight.woff2') format('woff2'),
       url('../fonts/Gotham-XLight.woff') format('woff'),
       url('../fonts/Gotham-XLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-Thin.eot');
    src: local('Gotham Thin'), local('Gotham-Thin'),
       url('../fonts/Gotham-Thin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Thin.woff2') format('woff2'),
       url('../fonts/Gotham-Thin.woff') format('woff'),
       url('../fonts/Gotham-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-Book.eot');
    src: local('Gotham Book'), local('Gotham-Book'),
       url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Book.woff2') format('woff2'),
       url('../fonts/Gotham-Book.woff') format('woff'),
       url('../fonts/Gotham-Book.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-ThinItalic.eot');
    src: local('Gotham Thin Italic'), local('Gotham-ThinItalic'),
       url('../fonts/Gotham-ThinItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-ThinItalic.woff2') format('woff2'),
       url('../fonts/Gotham-ThinItalic.woff') format('woff'),
       url('../fonts/Gotham-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-MediumItalic.eot');
    src: local('Gotham Medium Italic'), local('Gotham-MediumItalic'),
       url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
       url('../fonts/Gotham-MediumItalic.woff') format('woff'),
       url('../fonts/Gotham-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham Ultra';
    src:url('../fonts/Gotham-UltraItalic.eot');
    src: local('Gotham Ultra Italic'), local('Gotham-UltraItalic'),
       url('../fonts/Gotham-UltraItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-UltraItalic.woff2') format('woff2'),
       url('../fonts/Gotham-UltraItalic.woff') format('woff'),
       url('../fonts/Gotham-UltraItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-BookItalic.eot');
    src: local('Gotham Book Italic'), local('Gotham-BookItalic'),
       url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
       url('../fonts/Gotham-BookItalic.woff') format('woff'),
       url('../fonts/Gotham-BookItalic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-BlackItalic.eot');
    src: local('Gotham Black Italic'), local('Gotham-BlackItalic'),
       url('../fonts/Gotham-BlackItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-BlackItalic.woff2') format('woff2'),
       url('../fonts/Gotham-BlackItalic.woff') format('woff'),
       url('../fonts/Gotham-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-Light.eot');
    src: local('Gotham Light'), local('Gotham-Light'),
       url('../fonts/Gotham-Light.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Light.woff2') format('woff2'),
       url('../fonts/Gotham-Light.woff') format('woff'),
       url('../fonts/Gotham-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-Bold.eot');
    src: local('Gotham Bold'), local('Gotham-Bold'),
       url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Bold.woff2') format('woff2'),
       url('../fonts/Gotham-Bold.woff') format('woff'),
       url('../fonts/Gotham-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-Medium.eot');
    src: local('Gotham Medium'), local('Gotham-Medium'),
       url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Medium.woff2') format('woff2'),
       url('../fonts/Gotham-Medium.woff') format('woff'),
       url('../fonts/Gotham-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Ultra';
    src:url('../fonts/Gotham-Ultra.eot');
    src: local('Gotham Ultra'), local('Gotham-Ultra'),
       url('../fonts/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Ultra.woff2') format('woff2'),
       url('../fonts/Gotham-Ultra.woff') format('woff'),
       url('../fonts/Gotham-Ultra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-XLightItalic.eot');
    src: local('Gotham ExtraLight Italic'), local('Gotham-XLightItalic'),
       url('../fonts/Gotham-XLightItalic.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-XLightItalic.woff2') format('woff2'),
       url('../fonts/Gotham-XLightItalic.woff') format('woff'),
       url('../fonts/Gotham-XLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Gotham';
    src:url('../fonts/Gotham-Black.eot');
    src: local('Gotham Black'), local('Gotham-Black'),
       url('../fonts/Gotham-Black.eot?#iefix') format('embedded-opentype'),
       url('../fonts/Gotham-Black.woff2') format('woff2'),
       url('../fonts/Gotham-Black.woff') format('woff'),
       url('../fonts/Gotham-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}