<div class="login-main">
    <div class="container">
        <div class="offset-0 offset-md-6 offset-lg-8 col-12 col-md-6 col-lg-4">
            <div class="login-form">
                <div class="login-img">
                    <img src="../../../assets/images/logo.png" alt="Logo">
                </div>
                <h2>Admin Sign up</h2>
                <form class="row g-3">
                    <div class="col-12">
                    <label for="admin-email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="admin-email">
                    </div>
                    <div class="col-12">
                    <label for="admin-password" class="form-label">Password</label>
                    <input type="password" class="form-control" id="admin-password">
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" id="gridCheck">
                            <label class="form-check-label" for="gridCheck">Remember me</label>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary">Sign in</button>
                </form>
            </div>
        </div>
    </div>
</div>