<section class="subhero-slider">
  <div class="container">
    <h2>Brands</h2>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="javascript:void(0);" routerLink="/">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Brands</li>
      </ol>
    </nav>
  </div>
</section>
<section class="accelerate-main" id="accelerate-main">
  <div class="container">
    <div class="brand-list">
      <ul>
        <li *ngFor="let b of brandDataList">
          <a href="javascript:void(0);" routerLink="/carList">
            <div class="brand-img">
              <img [src]="b.image" [alt]="b.brand">
            </div>
            <span>{{b.brand}}</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
