<section class="subhero-slider">
    <div class="container">
        <h2>Brands</h2>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="javascript:void(0);" routerLink="/">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Brands</li>
            </ol>
        </nav>
    </div>
</section>
<section class="accelerate-main" id="accelerate-main">
    <div class="container">
        <div class="brand-list">
            <ul>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" routerLink="/carList">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>