/* You can add global styles to this file, and also import other style files */
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
// @import '~ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel';
@import '../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default';

html, body { height: 100%; }
body { margin: 0; font-family: "Gotham"; }

.btn.btn-primary {
    width: auto;
    font-size: 1rem;
    font-weight: 500;
    border-radius: 5px;
    background: #F7B317;
    border: none;
    color: #fff;
    padding: 0.6rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
    svg {
        width: 1.5rem;
        height: 1.5rem;
    }
    &:hover, &:focus {
        background: #000;
        color: #F7B317;
        transition: all 0.3s ease;
    }
}

@media only screen and (min-width: 1620px) {
    .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
        max-width: 1580px;
    }
}