<section class="hero-slider">
    <div class="container">
        <div class="floating-form">
            <h1>Start Finding <b>Your Dream Car!</b></h1>
            <form class="row">
                <div class="form-group">
                    <!-- <h3>Single selection</h3> -->
                      <mat-form-field>
                        <mat-select placeholder="Car selection" #singleSelect>
                            <mat-option>
                                <ngx-mat-select-search ></ngx-mat-select-search>
                            </mat-option>
                            <mat-option value="101">
                                car1
                            </mat-option>
                            <mat-option value="102">
                                car2
                            </mat-option>
                        </mat-select>
                      </mat-form-field>                    
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Car selection" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search ></ngx-mat-select-search>
                        </mat-option>
                        <mat-option >
                            car1
                        </mat-option>
                        <mat-option >
                            car2
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Selected Bank: {{bankCtrl.value?.name}} -->
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Car selection" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search ></ngx-mat-select-search>
                        </mat-option>
                        <mat-option >
                            car1
                        </mat-option>
                        <mat-option >
                            car2
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Selected Bank: {{bankCtrl.value?.name}} -->
                </div>
                <div class="form-group">
                    <mat-form-field>
                        <mat-select placeholder="Car selection" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search ></ngx-mat-select-search>
                        </mat-option>
                        <mat-option >
                            car1
                        </mat-option>
                        <mat-option >
                            car2
                        </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <!-- Selected Bank: {{bankCtrl.value?.name}} -->
                </div>
                <button type="submit" class="btn btn-primary">
                    <svg id="search-alt3" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" class="icon line" width="48" height="48"><path id="primary" d="M17,10a7,7,0,1,1-7-7A7,7,0,0,1,17,10Zm3,10L15,15" stroke="currentColor" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></path><line id="primary-2" data-name="primary" x1="20.5" y1="20.5" x2="17" y2="17" stroke="currentColor" style="fill: none; stroke-linecap: round; stroke-linejoin: round; stroke-width: 2;"></line></svg>
                    Search
                </button>
            </form>
        </div>
    </div>
</section>
<section class="accelerate-main" id="accelerate-main">
    <div class="container">
        <h2 class="section-header"><b>Accelerate</b> the Future</h2>
        <div class="brand-list">
            <ul>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/audi.png" alt="Audi">
                        </div>
                        <span>Audi</span>
                    </a>
                </li>
                <li> 
                    <a href="#">
                        <div class="brand-img">
                            <img src="../../assets/images/bmw.png" alt="BMW">
                        </div>
                        <span>BMW</span>
                    </a>
                </li>
                <li> 
                    <a href="javascript:void(0);" class="view-all" routerLink="/brands">
                       <span>View All Brands</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</section>
<section class="collection-main" id="collection-main">
    <div class="lestest-collection">
        <div class="collection-left">
            <div class="collection-head">        
                <h2>Lestest Collection</h2>
                <span>For Love of Car</span>
            </div>
            <a href="javascript:void(0);" class="btn btn-link">Explore More</a>
        </div>
        <div class="collection-right">
            <div class="slick-wrapper">
                <div class="destination_img">
                    <owl-carousel-o [options]="latestCollection">
                      <ng-container *ngFor="let data of ['1','2','3','4','5'];">
                        <ng-template carouselSlide [id]="data">
                            <div class="card-slider">
                                <div class="card-image">
                                    <img src="assets/images/car_item_01.jpg" alt="car" title="car">
                                    <!-- <div class="slick-wrapper">
                                        <owl-carousel-o [options]="customOptions">
                                            <ng-container *ngFor="let data of ['1','2','3','4','5'];">
                                              <ng-template carouselSlide [id]="data">
                                                <img src="assets/images/car_item_01.jpg" alt="car"
                                                      title="car">
                                                </ng-template>
                                            </ng-container>
                                        </owl-carousel-o>
                                    </div> -->
                                </div>
                                <div class="card-body">
                                    <div class="price">
                                        <h3>$8,25,000</h3>
                                        <div class="card-icon">
                                            <i class="fas fa-comment"></i>
                                            <i class="fas fa-phone-alt"></i>
                                        </div>
                                    </div>
                                    <h3>Honda City 1.5 SV MT (I-DTEC)</h3>
                                    <ul class="card-info">
                                        <li><p>Reg.Year</p><h4>2018</h4></li>
                                        <li><p>KMS</p><h4>60,000</h4></li>
                                        <li><p>Fuel Type</p><h4>DIESEL</h4></li>
                                        <li><p>Ownership</p><h4>1 ST</h4></li>
                                    </ul>
                                </div>
                            </div>
                        </ng-template>
                      </ng-container>
                    </owl-carousel-o>
                </div>
            </div>
        </div>
    </div>
</section>